{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
    <div class="container mt-5" style="background-image: url('C:\laragon\www\symrecipe-master\images'); background-size: cover; background-position: center; color: white; text-align: center;">
        <h1 class="display-4">Bienvenue sur SymRecipe</h1>
        <p class="lead">Découvrez, partagez et créez des recettes délicieuses avec SymRecipe.</p>
        <hr class="my-4">

        <!-- Recipe Section -->
        <section class="recipe-section mt-4">
            <h2 class="mb-4">Les Dernières Recettes</h2>

            <!-- Featured Recipes -->
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="{{ asset(recipe.image) }}" class="card-img-top" alt="{{ recipe.name }} Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <p class="card-text">{{ recipe.description }}</p>
                                <a href="#" class="btn btn-success">Voir la recette</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
